.first{
    background-color: #1F2937;
}
.upper{
    display:flex;
    justify-content: space-around;
    padding:15px;
}
header{
    font-size: 24px;
    color:#F9FAF8;
}
.Links a,.secondary{
    font-size: 18px;
    color:#E5E7EB;
}
.Links{
    display:flex;
    gap:10px;
}
.lower{
    display:flex;
    gap:50px;
    justify-content: center;
    padding:80px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
    height: 100px;
    background-color:rgba(255, 249, 249, 0.627) ;
    padding:50px;
}
.maintext{
    font-size: 48px;
    font-weight:bolder;
    color:#F9FAF8;
}
.box2{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:400px;
    height:100px;
    padding:50px;
}
body{
    margin:0;
}
button{
    background-color:#3882F6;
    color:white;
    padding:8px;
    border-radius: 20%;
}
.header2{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding:16px;
    padding-bottom: 40px;
}
.boxy{
    display: flex;
    gap:35px;
    justify-content: center;
}
.texty{
    display: flex;
    justify-content: center;
    gap:45px;
    padding:15px;
}
.texty div{
    width:140px;
}
.sbox{
    display: flex;
    box-sizing: border-box;
    border:2px solid #3882F6;
    height:150px;
    width: 150px;
    border-radius: 15%;
}
.three{
    background-color: #E5E7EB;
    padding: 40px 300px;
}
.text2{
    font-size: 36px;
    font-style:italic;
    font-weight:0;
    color:#1F2937;
}
.text3{
    font-weight: bold;
    text-align: end;
}
.last{
    display: flex;
    background-color: #3882F6;
    padding:30px;
    margin:40px 100px;
    justify-content: space-around;
    align-items: center;
}
.smart div{
    color:#F9FAF8;
}
footer{
    text-align: center;
    color:#F9FAF8;
    background-color: #1F2937;
    padding:15px;
}
a{
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}